# Common requirements used across local dev and production
FastAPI==0.68.0
gunicorn==20.0.4
starlette==0.14.2
uvicorn==0.14.0
appengine-python-standard>=1.0.0
google-cloud-datastore==2.15.1
google-auth==2.17.3
requests==2.28.2
